* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, "Times New Roman", Times, serif;
}

body {
  background-color: black;
}

.container {
  background-color: rgb(144, 144, 144);
  margin: 100px auto;
  max-width: 500px;
  border-radius: 10px;
  padding: 30px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.searchInput {
  border: none;
  padding: 10px;
  border-radius: 4px;
}

.searchBtnImg {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.searchBtn {
  border-radius: 50%;
  border: none;
  padding: 5px;
  background-color: white;
}

.searchBtn:hover {
  cursor: pointer;
  background-color: grey;
}

.weather-icon {
  height: 150px;
}

.main-weather {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-weather h1 {
  font-size: 2.5rem;
}

.main-weather h2 {
  font-size: 3rem;
}

.main-weather h3 {
  font-size: 1.8rem;
}

.main-weather img {
  align-self: center;
}

.detail-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 60px;
}

.col {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.col p {
  font-size: 1.4rem;
}

.humidity-img {
  width: 40px;
}

.wind-img {
  width: 40px;
}
