* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  background-color: aquamarine;
  margin: 100px auto;
  max-width: 500px;
  border-radius: 10px;
  height: 100px;
  padding: 30px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.searchInput {
  border: none;
  padding: 10px;
  border-radius: 4px;
}

.searchBtnImg {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.searchBtn {
  border-radius: 50%;
  border: none;
  padding: 5px;
  background-color: white;
}

.searchBtn:hover {
  cursor: pointer;
}
